<div class="jumbotron text-center">
  <h1>Student Blogging Application</h1>
  <p class="lead">Welcome to the Student Blogging application by <strong>Pinakin Chaubal</strong></p>
  <div>
    <a routerLink="/register" class="btn btn-primary">Registration</a>
    <a routerLink="/login" class="btn btn-default">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/png/512/4786/4786245.png" alt="placeholder image" width="140" height="140">
      <div class="caption">
        <h3>Register for free</h3>
        <p>Register for free on the site and start blogging</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/png/512/417/417777.png" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Login Securely</h3>
        <p>Login Securely to the blogging application</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/png/128/4786/4786243.png" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Create, update and delete Blogs</h3>
        <p>This app lets you create blogs</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417768.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>View</h3>
        <p>View Blogs</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417754.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Dashboard</h3>
        <p>View the dashboard</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417764.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Add, update and delete comments</h3>
        <p>This app lets you add, update and delete your comments</p>
      </div>
    </div>
  </div>

